body{
background-color: #cc0000;

}

.banner{
margin: auto;
width: 1024px;

}

.banner img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container{

    margin: auto;
    display: table;
    width: 1024px;
    height: auto;
    background-color: #e6e6e6;;

}

.menu ul{
   list-style-type: none;
   text-align: center;
}
.menu li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
.menu li a {
   padding: 2px 7px 2px 7px;
   color: white;
   background-color: black;
   border: 1px solid #ccc;
   text-decoration: none;
}

.menu li a:hover{
   background-color: #333333;
   color: #ffffff;
}

aside{
  float: right;
  width: 40%;
}

section{
float: left;
width: 60%;

}

footer{
margin-top: 0;
padding-top: 0;
margin: auto;
width: 1024px;
height: 100px;
background-color: black;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

}
.imagen{
  margin: auto;
  width: 300px;

}

p{
margin: 20px 10px 30px 40px;
text-align: justify;
padding: 10px;

}
.p1{
border: black 5px solid;

}

#recuadro1{
  box-shadow: 40px 10px 20px #aaa;
  border-radius: 20px;
  background-color: #D83E1D;
  width:200px;
  padding:10px;
}

#recuadro2{
  -moz-column-count:3;
  -webkit-column-count:3;
  column-count:3;
  border-radius: 20px;
  background-color:#ddd;
  width:600px;
  padding:10px;

}
h2{
  margin: 20px 10px 30px 40px;
  text-align: justify;
  text-shadow: 5px 5px 5px #aaa;

}

h1{
  text-shadow: -5px -5px 5px #aaa;
}



.piepagina{
font-size: 20px;
text-align: center;
margin-top: 0;
background-color: black;
color: white;

}
iframe{
  margin: 10px;
}


img{
display:block;
margin:auto;
}

fieldset{

   margin: 20px;
   padding:2px;
  cursor:pointer;
  display:inline-block;

}

.centrado{
  margin: 20px 250px 10px ;
}
