body{
background-color: #cc0000;

}

.banner{
margin: auto;
width: 1024px;

}

.banner img{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.container{

    margin: auto;
    display: table;
    width: 1024px;
    height: auto;
    background-color: #e6e6e6;;

}

.menu ul{
   list-style-type: none;
   text-align: center;
}
.menu li{
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
.menu li a {
   padding: 2px 7px 2px 7px;
   color: white;
   background-color: black;
   border: 1px solid #ccc;
   text-decoration: none;
}

.menu li a:hover{
   background-color: #333333;
   color: #ffffff;
}

aside{
  float: right;
  width: 40%;
}

section{
float: left;
width: 60%;

}

footer{
margin-top: 0;
padding-top: 0;
margin: auto;
width: 1024px;
height: 100px;
background-color: black;
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;

}
.imagen{
  margin: auto;
  width: 300px;

}

p{
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}
.piepagina{
font-size: 20px;
text-align: center;
margin-top: 0;
background-color: black;
color: white;

}

form{
  display: inline-block;
   text-align: center;
}
